<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>

<body>
    dialogg
    <form th:action="@{/posts/new}" th:object="${post}" method="post">
        Username
        <input type="text" id="username" th:field="*{username}">
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        <br>
        Post
        <input type="text" id="content" th:field="*{content}">
        <div class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}" />
        <button>Submit</button>
    </form>
</body>

</html>