<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="submitPost">
        <form th:action="@{/new}" th:object="${newPost}" method="post">
            <div th:text="${newPost.content}"></div>
            Post content
            <input type="text" id="content" th:field="*{content}">
            <div th:if="${content}" th:text="${content}" />
            <button>Submit</button>
        </form>
    </div>
    <div th:fragment="post (p)">
        <div th:if="${p.username == #authentication.name}">
            <form th:action="@{/delete/{postId}(postId=${p.id})}" method="post">
            <button >Delete</button>
        </form></div>
        <div th:text="${p.username}"></div>
        <div th:text="${p.createdAt}"></div>
        <div th:text="${p.content}"></div>
        <form th:action="@{/reply(postId=${p.id})}" th:object="${newReply}" method="post">
            <input th:field="*{content}" placeholder="Write a reply..." />
            <button type="submit">Submit</button>
        </form>
        <a th:if="${p.repliesCount} > 0"th:href="@{/thread/{id}(id=${p.id})}">
                <div th:text="'Replies: ' + ${p.repliesCount}"></div>
        </a>
    </div>
</body>

</html>