<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/styles.css" type="text/css" th:href="@{/css/forms.css}">

</head>

<body>
    <div th:replace="~{fragments.html :: topbar}"></div>
    <div class="centered-container">
        <div>
            <form class="container" th:action="@{/register}" th:object="${user}" method="post">
                <div>Username<br>
                    <input id="username" th:field="*{username}">
                </div>
                <div>Email<br>
                    <input id="email" th:field="*{email}">
                </div>
                <div>Password<br>
                    <input type="password" id="password" th:field="*{password}">
                </div>
                <button class="button">Register</button>
            </form>
        </div>
        <div class="error" th:if="${errorMessage}" th:text="${errorMessage}" />
    </div>
</body>

</html>